*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Hind", sans-serif;
    font-weight: 400;
    font-style: normal;
}
body{
    background-color: rgb(239, 242, 242);
}
html{
    scroll-behavior: smooth;
}
section{
    
    height: 100vh;
    width: 95%;
    margin: 0 auto;
}
/* start of header stylings */
.header{
    position: sticky;
    width: 100%;
    top: 0;
    background-color: rgb(109, 107, 107);
     margin-bottom: 2vh;
    padding: 20px;
    height: auto;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    display: flex;
}
/* logo stylings */
.logo h2 {
    text-align: left;
    font-family: "Rubik Mono One", monospace;
    font-weight: 300;
    font-style: normal;
    font-size: 13px;
    color: white;
   }
   /* menus stylings */
   .menus ul{
    justify-content: center;
    align-items: center;
    text-align: center;
    display: flex;
}
.menus ul li{
    list-style: none;
    margin: 20px;

}
.menus ul li a{
    text-decoration: none;
     color: white;
}


#mySidenav,.open{
    display: none;
}           

   
   
   
/* end of header */
.center{
    line-height: 10vh;
    height: 100vh;
    justify-content: center;
    align-items: center;
    text-align: center;
    display: flex;
   
    flex-direction: column;
    color: white;
    background: linear-gradient(rgba(0, 0, 0, 0.021),rgb(0, 0, 0)),url(../images/about1.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}
.center h4{
    font-size: 3vh;
}
.center h1{
    font-size: 12vh;
    font-weight: bold;
}
.center h3{
    font-size: 4vh;
}
.center h3 span{
    background-color: orange;
    padding: 2px;
}
/* end of center */
.owner{
    height: auto;
    justify-content: center;
    align-items: center;
    text-align: center;
    display: flex;
    flex-wrap: wrap;
    margin-top: 2vh;
    margin-bottom: 2vh;
    
    

}

.owner1{
  
    width: 500px;
    background: linear-gradient(rgba(0, 0, 0, 0.011),rgb(0, 0, 0)),url(../images/owner.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    color: white;
    height: 90vh;
    border-radius: 10px;
    justify-content: center;
    align-items: center;
    text-align: center;
    display: flex;
    flex-direction: column;
}
.owner1 h1{
    background-color: transparent;
    border: 2px solid black;
    border-radius: 10px;
    margin: 5px;
    padding: 3px;
}
.socialmedia i{
  color: orange;
  font-size: 30px;
  margin: 10px;
}
/* end of owner1 */
.values{
    width: 50vw;
    height: 80vh;
    margin: 20px;
    justify-content: center;
    align-items: center;
    text-align: center;
    display: flex;
    flex-direction: column;
}
/* end of values */
.mission{
    margin: 10px;
    height: auto;
    width: 98%;
    padding: 5px;
    box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px, rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
    border-radius: 4px;
}
.mission i{
    color: orange;
}
/* end of mission */
/* end of owner */

footer{
    padding: 20px;
    height: auto;
    width: 100%;
    margin: 0 auto;
    justify-content: center;
    align-items: center;
    text-align: center;
    display: inline-flex;
    flex-wrap: wrap;
    background-color: black;
 }
 .ft1{
    color: white;
    width: 20vw;
    height: 40vh;
    margin: 20px;
    justify-content: center;
    align-items: flex-start;
    text-align: left;
    display: flex;
    flex-direction: column;
}
.ft1 img{
    width: 9vw;
}
.ft1 p{
    padding-top: 10px;
    padding-bottom: 10px;
    font-size: 18px;
}
.ft1 p a{
    color: blue;
    text-decoration: none;
}


/* start of media queris small screens */
@media only screen and (max-width: 700px){
    html, body {
        margin: 0;
        padding: 0;
        overflow-x: hidden;
      }
       
    
   
     /* section stylings */

    section{
        width: 100%;
        overflow-x: hidden;
        
    }
    body{
        background-color: black;
    }
/* start of header stylings */
.header{
position: sticky;
width: 100%;
top: 0;
background-color: black;
color: white;
height: auto;
justify-content: space-between;
align-items: center;
text-align: center;
display: flex;
}

/* menus stylings */
.menus li{
    display: none;
}
.menus i{
    display: block;
}
#mySidenav,.open{
    display: block;
}

 /* small screen nav bar */
             
                
.sidenav {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #111;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 60px;
}

.sidenav a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: #818181;
  display: block;
  transition: 0.3s;
  margin: 30px;
}

.sidenav a:hover {
  color: #f1f1f1;
}

.sidenav .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}

.media{
    width: 90%;
    height: 100px;
    margin: 0 auto;
    justify-content: center;
    align-items: center;
    text-align: center;
    display: flex;
}
.media a{
    color: orange;

}
.media a{
    margin: 10px;
    font-size: 35px;
}



/* end of header */

.center{
    line-height: 6vh;
    height: 70vh;
    justify-content: center;
    align-items: center;
    text-align: center;
    display: flex;
    flex-direction: column;
    color: white;
    background: linear-gradient(rgba(169, 168, 168, 0.011),rgb(29, 28, 28)),url(../images/about.webp);
    background-repeat: no-repeat;
    background-size: cover;
}

.center h4{
    font-size: 2vh;
}
.center h1{
    font-size: 5vh;
    font-weight: bold;
}
.center h3{
    font-size: 2vh;
}

.center h3 span{
    background-color: orange;
    padding: 2px;
}
/* end of center */
.owner{
    background-color: rgb(239, 242, 242);
    height: auto;
    margin: 0 auto;
    justify-content: center;
    align-items: center;
    text-align: center;
    display: block;
}

.owner1{
  
    width:97%;
    margin-top: 20px;
    margin-left: 10px;
    margin-right: 10px;
    padding: 10px;
    background: linear-gradient(rgba(0, 0, 0, 0.011),rgb(0, 0, 0)),url(../images/owner.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    color: white;
    height: 90vh;
    border-radius: 10px;
    justify-content: center;
    align-items: center;
    text-align: center;
    display: flex;
    flex-direction: column;
    
}
.owner1 h1{
    background-color: transparent;
    border-radius: 10px;
    margin: 5px;
    padding: 3px;
}
.socialmedia i{
  color: orange;
  font-size: 30px;
  margin: 10px;
}

/* end of owner1 */
.values{
    width: 100%;
    height: auto;
    margin-top: 20px;
    margin-left: 0px;
    margin-right: 0px;
    padding: 10px;
    justify-content: center;
    align-items: center;
    text-align: center;
    display: flex;
    flex-direction: column;
}
/* end of values */
.mission{
    
    margin-top: 10px;
 
    height: auto;
    width: 100%;
    padding: 5px;
    box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px, rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
    border-radius: 4px;
}
.mission i{
    color: orange;
}
/* end of mission */
/* end of owner */

footer{
    padding: 20px;
    height: auto;
    width: 100%;
    margin: 0 auto;
    justify-content: center;
    align-items: center;
    text-align: center;
    display: block;
    background-color: black;
 }
 .ft1{
    color: white;
    width: 100%;
    height: auto;
    margin: 25px;
    justify-content: center;
    align-items: flex-start;
    text-align: left;
    display: flex;
    flex-direction: column;
}
.ft1 img{
    width: 37vw;
}
.ft1 p{
    padding-top: 10px;
    padding-bottom: 10px;
    font-size: 18px;
}

}